.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

#main {
  height: calc(100vh - 56px);
}

.tags-input {
  width: calc(100% - 65px);
}

.tags-input .tagify {
  border-color: #282c34;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
}

.fill-space {
  min-height: calc(100vh - 382px) !important;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
